img{
    height: 350px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
h1{
    font-size: 40px !important;
    font-weight: bolder;
    text-align: center;
}
.root{
    height:100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Red Hat Display', sans-serif;
}
.heading{
    /* margin-top: 50px; */
    margin-bottom: 0px;
}
.main{
    /* background-color: red; */
    height:70vh;
    display:flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
}
.imgcon{
    position: relative;
   /* left:100px; */

}
.data{
    position: relative;
    right:-60px;
    font-size: 20px;
    width: 50%;
}
