.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.image 
{
  width: 100% !important; 
  object-fit: contain;
  box-shadow: none;
}

