nav{
    position:sticky;
}

img{
  height:500px;
  width:500px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff; /* White background */
    padding: 10px 30px; /* Adjust padding as needed */
    color: #000; /* Black text color */
    font-family: 'Red Hat Display', sans-serif;
    padding-left: 100px;
    padding-top: 25px;
    padding-right: 50px;
  }
  
  .navbar-left {
     /* Adjust font size */
    font-weight: bold;
    align-items: center;
    
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    font-weight: bolder;
    align-items: center;
    font-size: 20px;
  }
  
  .nav-links li {
    margin-right: 20px; /* Adjust spacing between links */
    
  }
  .nav-links a:hover {
    color:#9333EA;
    /* background-color: aqua; */
}

  
  .nav-links a {
    text-decoration: none;
    color: #000; /* Black text color for links */
  }
  /* .stickyr{
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
  } */
 